html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.root {
    display: flex;
    min-height: 100%;
}
.gnb {
    flex: none;
    width: 100px;
    box-sizing: border-box;
    border: solid 1px rgba(255, 0, 0, 0.1);
    background-color: rgba(255, 0, 0, 0.05);
}
.container {
    flex: 1;

    display: flex;
    flex-direction: column;
}
.lnb {
    flex: none;
    height: 50px;
    box-sizing: border-box;
    border: solid 1px rgba(0, 255, 0, 0.1);
    background-color: rgba(0, 255, 0, 0.05);
}
.snb {
    flex: none;
    height: 50px;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 255, 0.1);
    background-color: rgba(0, 0, 255, 0.05);
}
.contents {
    flex: 1;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 255, 0.1);
    background-color: rgba(0, 0, 255, 0.1);
}
