body {
    margin: 1rem;
}

.button {
    @function color($opacity) {
        @return rgba(0, 0, 255, $opacity);
    }
    box-sizing: border-box;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid color(0.1);
    background-color: color(0.05);
    white-space: nowrap;
    cursor: pointer;
    &:enabled:hover {
        border-color: color(0.15);
        background-color: color(0.1);
    }
    &:enabled:active {
        border-color: color(0.2);
        background-color: color(0.15);
    }
}

.checks {
    @function color1($opacity) {
        @return rgba(155, 59, 167, $opacity);
    }
    @function color2($opacity) {
        @return rgba(0, 0, 0, $opacity);
    }
    .__text {
        box-sizing: border-box;
        padding: 3px 15px 7px;
        border-radius: 10px;
        border: 1px solid transparent;
        white-space: nowrap;
        cursor: pointer;
        border-color: color2(0.05);
        background-color: color2(0.05);
        color: color2(0.5);
    }
    input[type="checkbox"] {
        position: fixed;
        top: -200000rem;
        &:checked + .__text {
            border-color: color1(0.9);
            background-color: color1(0.8);
            color: rgba(255, 255, 255, 0.9);
        }
        &:focus-visible + .__text {
            outline: solid 2px black;
        }
    }
}
