@function color($opacity) {
    @return rgba(0, 0, 255, $opacity);
}
@function fontColor($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

body {
    margin: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 500;
}

h2 {
    margin-top: 0;
    font-weight: 500;
    color: #333;
}

h3 {
    margin: 0 0 1rem;
    font-weight: 500;
    color: #333;
    &:not(:first-child) {
        margin-top: 1.5rem;
    }
    &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 5px;
        margin-right: 7px;
        margin-top: -1px;
        background-color: rgba(124, 252, 0, 0.5);
        background-image: -webkit-linear-gradient(
            top,
            rgba(124, 252, 0, 1) 10%,
            rgba(124, 252, 0, 0) 70%
        );
        vertical-align: middle;
    }
}

.section {
    margin: 1rem 0 3rem;
}

.samples {
    margin: 0.625rem 0;
    padding: 1.25rem;
    border: solid 1px #ccc;
    border-radius: 4.2px;
    background-clip: padding-box;
}

.buttons {
    @mixin enabled {
        border-color: color(0.1);
        background-color: color(0.05);
        color: fontColor(0.9);
        cursor: pointer;
        svg {
            fill: fontColor(0.6);
        }
        &:hover {
            border-color: color(0.15);
            background-color: color(0.1);
            svg {
                fill: fontColor(0.65);
            }
        }
        &:active {
            border-color: color(0.2);
            background-color: color(0.15);
            svg {
                fill: fontColor(0.7);
            }
        }
    }
    @mixin disabled {
        border-color: color(0.05);
        background-color: color(0.02);
        color: fontColor(0.3);
        svg {
            fill: fontColor(0.3);
        }
    }
    @mixin pressed {
        border-color: color(0.3);
        background-color: color(0.3);
        &:hover {
            border-color: color(0.35);
            background-color: color(0.35);
        }
        &:active {
            border-color: color(0.4);
            background-color: color(0.4);
        }
    }

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 60px;
        min-height: 36px;
        box-sizing: border-box;
        padding: 5px 12px 7px;
        border-radius: 4px;
        border: solid 1px transparent;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        &:enabled {
            @include enabled;
        }
        &:disabled {
            @include disabled;
        }

        .__icon {
            display: inline-block;
            width: 19px;
            height: 19px;
            &:first-child {
                margin-right: 2px;
            }
            svg {
                // width: 100%;
                // height: 100%;
            }
        }

        .__text + .__icon {
            margin-left: 2px;
        }

        // for display
        margin-bottom: 5px;
        vertical-align: top;
    }
    a.button {
        padding-top: 7px;
        padding-bottom: 7px;
        text-decoration: none;
        &[aria-disabled="true"] {
            @include disabled;
            pointer-events: none;
        }
        &:not([aria-disabled="true"]) {
            @include enabled;
        }
    }
    div.button {
        user-select: none;

        &:not([aria-disabled="true"]) {
            @include enabled;
        }
        &[aria-disabled="true"] {
            @include disabled;
            pointer-events: none;
        }
        &[aria-pressed="true"] {
            @include pressed;
            // pointer-events: none;
        }
    }
}

.togglable {
    @function checkedColor($opacity) {
        @return rgba(155, 59, 167, $opacity);
    }

    .__text {
        display: inline-block;
        min-width: 70px;
        min-height: 36px;
        box-sizing: border-box;
        padding: 8px 15px 9px;
        border-radius: 4px;
        border: 1px solid transparent;
        border-color: color(0.1);
        background-color: color(0.05);
        font-size: 14px;
        color: fontColor(0.9);
        white-space: nowrap;
        user-select: none;
        cursor: pointer;

        // for display
        margin-bottom: 5px;
        vertical-align: top;
    }
    input[type="checkbox"],
    input[type="radio"] {
        position: fixed;
        top: -10000rem;
        opacity: 0;
        &:checked + .__text {
            border-color: checkedColor(0.9);
            background-color: checkedColor(0.8);
            color: rgba(255, 255, 255, 0.9);
        }
        &:focus-visible + .__text {
            outline: solid 2px black;
        }
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        max-width: 1024px;
        margin: 2rem auto;
    }
}
