html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 1rem;
    box-sizing: border-box;
    border: solid 1px rgba(255, 0, 0, 1);
}
.gnb {
    box-sizing: border-box;
    border: solid 1px rgba(0, 255, 0, 0.1);
    background-color: rgba(0, 255, 0, 0.05);
}
.contents {
    flex: 1;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 255, 0.1);
    background-color: rgba(0, 0, 255, 0.1);
}

.root1 {
    .gnb {
        flex-basis: 100px;
    }
}
.root2 {
    .gnb {
        height: 100px;
    }
}
.root3 {
    .gnb {
        flex-shrink: 0;
        height: 100px;
    }
}
.root4 {
    .gnb {
        flex: none;
        height: 100px;
    }
}
