
body {
    margin: 1rem;
}

ul {
    padding: 0;
    list-style: none;
}

h2{
    margin-top: 3rem;
}

.wrap{
    width: 320px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

section{
    margin-top: 1rem;
}

.item {
    box-sizing: border-box;
    padding: 1rem;
    outline: 1px solid #54957e;
    background: #a2d4c1;
    font-size: 2rem;
}


.list-1 {
    display: flex;
    flex-wrap: wrap;
    .item {
        width: 33.333%;
    }
}


.list-2 {
    display: flex;
    flex-wrap: wrap;
    .item {
        flex: 1 1 33.333%;
    }
}


.list-3 {
    display: flex;
    flex-wrap: wrap;
    .item {
        flex: 1 0 33.333%;
    }
}


.list-4 {
    display: flex;
    flex-wrap: wrap;
    .item {
        flex: 0 1 33.333%;
        padding: 1rem;
    }
}


.list-5 {
    &:after{
        content: '';
        display: table;
        clear: both;
    }
    .item {
        float: left;
        width: 33.333%;
    }
}