button {
  cursor: pointer;
}

button:focus {
  outline-width: 2px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  min-height: 36px;
  box-sizing: border-box;
  padding: 5px 12px 7px;
  border-radius: 4px;
  border: solid 1px transparent;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 5px;
  vertical-align: top;
}

.button:enabled {
  border-color: rgba(0, 0, 255, 0.1);
  background-color: rgba(0, 0, 255, 0.05);
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.button:enabled svg {
  fill: rgba(0, 0, 0, 0.6);
}

.button:enabled:hover {
  border-color: rgba(0, 0, 255, 0.15);
  background-color: rgba(0, 0, 255, 0.1);
}

.button:enabled:hover svg {
  fill: rgba(0, 0, 0, 0.65);
}

.button:enabled:active {
  border-color: rgba(0, 0, 255, 0.2);
  background-color: rgba(0, 0, 255, 0.15);
}

.button:enabled:active svg {
  fill: rgba(0, 0, 0, 0.7);
}

.button:disabled {
  border-color: rgba(0, 0, 255, 0.05);
  background-color: rgba(0, 0, 255, 0.02);
  color: rgba(0, 0, 0, 0.3);
}

.button:disabled svg {
  fill: rgba(0, 0, 0, 0.3);
}

.button .__icon {
  display: inline-flex;
}

.button .__icon:not(:only-child):first-child {
  margin-right: 5px;
}

.button .__text + .__icon {
  margin-left: 5px;
}

a.button {
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
}

a.button[aria-disabled="true"] {
  border-color: rgba(0, 0, 255, 0.05);
  background-color: rgba(0, 0, 255, 0.02);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

a.button[aria-disabled="true"] svg {
  fill: rgba(0, 0, 0, 0.3);
}

a.button:not([aria-disabled="true"]) {
  border-color: rgba(0, 0, 255, 0.1);
  background-color: rgba(0, 0, 255, 0.05);
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

a.button:not([aria-disabled="true"]) svg {
  fill: rgba(0, 0, 0, 0.6);
}

a.button:not([aria-disabled="true"]):hover {
  border-color: rgba(0, 0, 255, 0.15);
  background-color: rgba(0, 0, 255, 0.1);
}

a.button:not([aria-disabled="true"]):hover svg {
  fill: rgba(0, 0, 0, 0.65);
}

a.button:not([aria-disabled="true"]):active {
  border-color: rgba(0, 0, 255, 0.2);
  background-color: rgba(0, 0, 255, 0.15);
}

a.button:not([aria-disabled="true"]):active svg {
  fill: rgba(0, 0, 0, 0.7);
}

div.button {
  user-select: none;
}

div.button:not([aria-disabled="true"]) {
  border-color: rgba(0, 0, 255, 0.1);
  background-color: rgba(0, 0, 255, 0.05);
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

div.button:not([aria-disabled="true"]) svg {
  fill: rgba(0, 0, 0, 0.6);
}

div.button:not([aria-disabled="true"]):hover {
  border-color: rgba(0, 0, 255, 0.15);
  background-color: rgba(0, 0, 255, 0.1);
}

div.button:not([aria-disabled="true"]):hover svg {
  fill: rgba(0, 0, 0, 0.65);
}

div.button:not([aria-disabled="true"]):active {
  border-color: rgba(0, 0, 255, 0.2);
  background-color: rgba(0, 0, 255, 0.15);
}

div.button:not([aria-disabled="true"]):active svg {
  fill: rgba(0, 0, 0, 0.7);
}

div.button[aria-disabled="true"] {
  border-color: rgba(0, 0, 255, 0.05);
  background-color: rgba(0, 0, 255, 0.02);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

div.button[aria-disabled="true"] svg {
  fill: rgba(0, 0, 0, 0.3);
}

div.button[aria-pressed="true"] {
  border-color: rgba(0, 0, 255, 0.7);
  background-color: rgba(0, 0, 255, 0.7);
  color: rgba(255, 255, 255, 0.9);
}

div.button[aria-pressed="true"] svg {
  fill: rgba(255, 255, 255, 0.9);
}

div.button[aria-pressed="true"]:hover {
  border-color: rgba(0, 0, 255, 0.8);
  background-color: rgba(0, 0, 255, 0.8);
}

div.button[aria-pressed="true"]:hover svg {
  fill: rgba(255, 255, 255, 0.9);
}

div.button[aria-pressed="true"]:active {
  border-color: rgba(0, 0, 255, 0.9);
  background-color: rgba(0, 0, 255, 0.9);
}

div.button[aria-pressed="true"]:active svg {
  fill: rgba(255, 255, 255, 0.9);
}

.togglable label {
  position: relative;
}

.togglable .__text {
  display: inline-block;
  min-width: 70px;
  min-height: 36px;
  box-sizing: border-box;
  padding: 8px 15px 9px;
  border-radius: 4px;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 255, 0.1);
  background-color: rgba(0, 0, 255, 0.05);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  margin-bottom: 5px;
  vertical-align: top;
}

.togglable input[type="checkbox"],
.togglable input[type="radio"] {
  position: absolute;
  top: 0;
  opacity: 0;
}

.togglable input[type="checkbox"]:checked + .__text,
.togglable input[type="radio"]:checked + .__text {
  border-color: rgba(155, 59, 167, 0.9);
  background-color: rgba(155, 59, 167, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

.togglable input[type="checkbox"]:focus-visible + .__text,
.togglable input[type="radio"]:focus-visible + .__text {
  outline: solid 2px black;
}

/*# sourceMappingURL=button.css.map */