* {
    box-sizing: border-box;
}
.modal {
    --space : 16px;

    position: absolute; 
    top: 0; right: 0; bottom:0; left:0; 
    z-index: 1000;

    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    &:not([hidden]) {
        display: flex;
    }
    &-container {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        max-width: 80%;
        max-height: 80%;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        background-color: #fff;
    }
    &-header {
        flex: none;
        position: relative;
        padding : var(--space);
    }
    &-button-close {
        position: absolute;
        top: 0; right: 0;
        width: 45px; 
        height: 45px;
        border: none;
        background-color: transparent;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    &-subText {
        font-size: 12px;
        color: #666;
    }
    &-title {
        margin:0;
        font-size: 20px; 
        font-weight: 400;
    }
    &-content{
        overflow: auto;
        padding : var(--space); 
        color: #535353;
    }
    &-footer{
        flex: none;
        overflow: hidden;
        display: flex;
        gap: 1px;
        margin-top: 8px;
        background-color: #e5e5e5;
    }
    &-button {
        flex: 1;
        height: 50px;
        padding: 0;
        border: none;
        background-color: rgba(100, 100, 255, 0.7);
        font-size: 16px;
        letter-spacing: 2px;
        color: #fff;
        outline-width: 2px;
        outline-offset: -2px;
        &:hover {
            background-color: rgba(100, 100, 255, 0.8);
        }
        &:focus {
            background-color: rgba(100, 100, 255, 0.9);
        }
    }
}



