body {
  margin: 1rem;
}

.button {
  box-sizing: border-box;
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 255, 0.1);
  background-color: rgba(0, 0, 255, 0.05);
  white-space: nowrap;
  cursor: pointer;
}

.button:enabled:hover {
  border-color: rgba(0, 0, 255, 0.15);
  background-color: rgba(0, 0, 255, 0.1);
}

.button:enabled:active {
  border-color: rgba(0, 0, 255, 0.2);
  background-color: rgba(0, 0, 255, 0.15);
}

.checks .__text {
  box-sizing: border-box;
  padding: 3px 15px 7px;
  border-radius: 10px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
}

.checks input[type="checkbox"] {
  position: fixed;
  top: -200000rem;
}

.checks input[type="checkbox"]:checked + .__text {
  border-color: rgba(155, 59, 167, 0.9);
  background-color: rgba(155, 59, 167, 0.8);
  color: rgba(255, 255, 255, 0.9);
}

.checks input[type="checkbox"]:focus-visible + .__text {
  outline: solid 2px black;
}
